    head
{
    max-width: 1000px;
    min-width: 10px;
    height: 96px;
    margin: 0 auto;
    display: inline-block;
    text-align: justify;
    font-family: 
    
    h1
    {
        font-family: 'Quicksand', sans-serif;
        font-size: 96px;
        margin: 0 auto;
         background-color: gray;
             font-weight: bold;
             padding-left: inherit;
         color: white;
    }
    
    h2
    {
    font-family: 'Quicksand', sans-serif;
        font-size: 72px;
        
    }
    }
    body {
    background-image: url(/img/world map.jpg);
    font-family: Quicksand; 
    }
    li {
    float: left;
    padding: 16px;
    background-color: black;
   text: white;
}
    ul#menu
    {
        width: 1000px;
        hight: 50px;
    position: relative;
    padding: 0 auto;
    list-style: inline-block;
    display: block;
    background: black;
    list-style-type: armenian;
    margin: 0 auto;
    padding: 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 32px;
    text-decoration: none;
    position: inline;
    
}
p {margin: 0 auto
    width:100%;
}
    
    .figure
    {
        float: left;
        padding: 16px;
         width: 800px;
             display: block;
             list-style: inline-block;
             text: white;
    }
div{
    display: block;
}
.nav{
    position:absolute;
    left: 32%;
    top:35;
}